{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Кубань ТБО{% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheet %}
        <!-- Bootstrap -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/templatemo_style.css" %}" rel="stylesheet">
        {#        <link rel="stylesheet" href="{% static "css/templatemo_misc.css" %}">#}

        <link rel="stylesheet" href="{% static "css/nivo-slider.css" %}">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <link rel="stylesheet" type="text/css" href="{% static "css/ddsmoothmenu.css" %}"/>

    {% endblock %}
    {% block custom_css %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block js %}
        <script type="text/javascript" src={% static "js/jquery-3.2.1.min.js" %}></script>
        {#        <script type="text/javascript" src={% static "js/ddsmoothmenu.js" %}></script>#}
    {% endblock %}

    {% block custom_js %}{% endblock %}
    <!--/***********************************************
    * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    -->
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block header %}{% endblock %}
<div class="clear"></div>
{% block content %}Empty{% endblock %}
<!--Contact End-->

{% block footer %}
<!-- Bottom Start -->
<div class="templatemo_bottom">
    <div class="container">
        <div class="row">
            <div class="left">
                {% if not DEBUG %}
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=45077884&amp;from=informer"
                       target="_blank" rel="nofollow"><img
                            src="https://informer.yandex.ru/informer/45077884/3_0_333536FF_333536FF_1_uniques"
                            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                            class="ym-advanced-informer" data-cid="45077884" data-lang="ru"/></a>
                    <!-- /Yandex.Metrika informer --> <!-- Yandex.Metrika counter -->
                    <script type="text/javascript"> (function (d, w, c) {
                        (w[c] = w[c] || []).push(function () {
                            try {
                                w.yaCounter45077884 = new Ya.Metrika({
                                    id: 45077884,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true,
                                    webvisor: true
                                });
                            } catch (e) {
                            }
                        });
                        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                            n.parentNode.insertBefore(s, n);
                        };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";
                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else {
                            f();
                        }
                    })(document, window, "yandex_metrika_callbacks"); </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/45077884" style="position:absolute; left:-9999px;"
                                  alt=""/></div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                {% endif %}
            </div>
            <div class="left" style="padding-left: 30px;">
                <span>Copyright © 2017 <a href="mailto:it@tbo23.ru">ООО Кубань-ТБО</a></span>
                <br><span>Программирование сайта © 2017 <a href="mailto:riros@ya.ru">Валенков Иван</a></span>

            </div>
            <div class="left" style="padding-left: 30px ;">

            </div>

            <div class="right">
{#                <a href="#">#}
{#                    <div class="fa fa-rss soc"></div>#}
{#                </a>#}
{#                <a href="#">#}
{#                    <div class="fa fa-twitter soc"></div>#}
{#                </a>#}
{#                <a href="#">#}
{#                    <div class="fa fa-linkedin soc"></div>#}
{#                </a>#}
{#                <a href="#">#}
{#                    <div class="fa fa-dribbble soc"></div>#}
{#                </a>#}
{#                <a href="#">#}
{#                    <div class="fa fa-facebook soc"></div>#}
{#                </a>#}
                <a href="https://github.com/riros/tbo23.ru">
                    <div class="fa">
                        <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1"
                             viewBox="0 0 16 16" width="32">
                            <path fill-rule="evenodd"
                                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Bottom End -->
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
<script src={% static "js/jquery-1.10.2.min.js" %}></script>
<script src={% static "js/jquery.cookie.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/jquery.cycle2.min.js" %}></script>
<script src={% static "js/jquery.cycle2.carousel.min.js" %}></script>
{% block menu_js %}{% endblock %}
{% block bottom_js %}{% endblock %}
</body>
</html>